<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/editar.css">
    <title>Editar Produto</title>
</head>
<body>
    <div class="container">
        <h1>Editar Produto</h1>
        <form method="post">
            <label for="nome">Nome:</label>
            <input value="{{produto['nome']}}" type="text" name="nome" id="nome" class="form-input">
            
            <label for="preco">Preço:</label>
            <input value="{{produto['preco']}}" type="number" name="preco" id="preco" class="form-input">
            
            <button type="submit">Editar Produto</button>
        </form>
        <a href="/">Voltar</a>
    </div>
</body>
</html>